<!DOCTYPE html>
<html lang="en">
  <%- include("head", {title: "Index"}); %>
  <body>
	 <%- include("nav", {active: "about"}); %>
    <div class="container">
      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-fluid mx-auto" src="favicon.png" width="50%" height="50%" style="margin-top: 20%;">
        </div>
        <div class="col-md-8">
          <h2 class="featurette-heading">Hyperledger for Internet of Things</h2>
          <p class="lead">Hyperledger for IoT is a project made by Fredrik Uvgård, Jesper Magnusson, Andreas Hansson, Simon Herbertsson, Adam Sahlin, Jesper Öhman.</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Luleå Tekniska Universitet <br><span class="text-muted" style="font-size: 0.65em;">Great ideas do indeed grow below zero!</span></h2>
          <p class="lead">This website is made as part of a school project in the course D0020E.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-fluid" src="https://lh4.googleusercontent.com/-jDIogEt2EAE/AAAAAAAAAAI/AAAAAAAAAA0/rtGmITAXEiA/s0-c-k-no-ns/photo.jpg" width="50%" height="50%" style="margin-top: 20%;">
        </div>
      </div>
      <!-- FOOTER -->
      <footer>
        <p>&copy; 2017 Hyperledger for IoT, by D0020E Grupp 7.</p>
      </footer>
    </div><!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>