<!DOCTYPE html>
<html lang="en">
  
  <%- include("head", {title: "Index"}); %>
  <body>
    <%- include("nav", {active: "home"}); %>
    <div class="container">
      <h1>COMING TOO A THEATRE NEAR YOU!</h1>
    </div><!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
