<!DOCTYPE html>
<html lang="en">
  
  <%- include("head", {title: "Index"}); %>
  <body>
    <%- include("nav", {active: "home"}); %>
    <div class="container">
			<div id="line" style="min-width: 310px; height: 375px; margin: 0 auto"></div><!--- Line Chart -->
			<div id="pie" style="min-width: 310px; height: 375px; margin-top: 20px"></div><!--- Pie Chart -->
    </div><!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
