<html>

<body>

<table class = "table">

    <thead>
        <th class="col-md-5">ID Hash</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-2">Type</th>
        <th class="col-md-1" style="padding-left: 10px;">Block</th>
    </thead>

    <tbody>
        <% activeTableArray.forEach(function(row) { %>
            <% row %>
        <% }); %>

    </tbody>



</table>

</body>

</html>
